<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
 th:replace="~{layout/customer-layout :: customerLayout(~{this::head},~{this::main})}">
<head>
<meta charset="UTF-8">
<title>스토어</title>
<link rel="stylesheet" href="/css/store/store.css">
<link rel="stylesheet" href="/css/commons/reset.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
	<main>
		<div class="wrap ">
			<h2>카테고리1</h2>
			<ul class="product-wrap flex between">
				<li>
					<a href="/detail">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="wrap ">
			<h2>카테고리2</h2>
			<ul class="product-wrap flex between">
				
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="wrap ">
			<h2>카테고리3</h2>
			<ul class="product-wrap flex between">
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="store-img">
							<img alt="" src="/images/img/store/store1.webp">
						</span>
						<div class="product">
							<h3>웰퍼니쳐</h3>
							<h4>신소재 패브릭 소파모음 (아쿠아텍스/부클레)</h4>
							<h5>194,000 원</h5>
							<h6><span>리뷰 221</span></h6>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</main>
</body>
</html>