<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/log/login.css">
</head>
<body>
	<form action="/signin" method="post">
	<div class="wrap2">
	
		<div class="wrap">
		<div>
			<a class="logo" href="/">
				<img alt="" src="/images/img/header/THlogo.png">
			</a>
		</div>
		<div class="email-box">
			<input type="text" placeholder="이메일">
		</div>
		<div class="pass-box">
			<input type="text" placeholder="비밀번호">
		</div>
		<div class="login-btn">
			<button type="button">로그인</button>
		</div>
		<div class="flex">
			<div class="login-btn2">
				<a href="/">비밀번호 재설정</a>
			</div>
			<div class="login-btn3">
				<a href="/">회원가입</a>
			</div>
		</div>
		<section>
		<div class= login-btn4>
			SNS계정으로 간편 로그인/회원가입
		</div>
		<div class="flex">
			<div class="social-icon">
				<a>
					<img alt="" src="/img/facebook.png">
			
				</a>
			</div>
			<div class="social-icon">
				<a>
					<img alt="" src="/img/kakaotalk.png">
					
				</a>
			</div>
			<div class="social-icon">
				<a>
					<img alt="" src="/img/naver.png">
					
				</a>
			</div>
		</div>
		</section>
		<div class="problem">
			로그인에 문제가 있으신가요?
		</div>
	
		</div>
	</div>
	</form>
</body>
</html>