<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
 th:replace="~{layout/customer-layout :: customerLayout(~{this::head},~{this::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/body/main2-detail.css">
</head>
<body>
	<main>
	<div class="wrap3">
		<div class="wrap5 flex">
			<a class="snow">
				<img alt="" src="/img/snow.png">
			</a>
		 	<h1>추운 날씨에 딱! 겨울에 먹기 좋은 TOP 4 ♥  </h1>
		</div>
		<div class="flex between nohow">
			<div class="wrap4">
				<span class="circle"></span>
			 	<p>내일의식탁레시피</p>
			 	<p class="dayago">3일전</p>
			</div>
		    <div>
			 	<span class="follow-btn">
					<a href="/">+ 팔로우</a>			
				</span>
			</div>
		</div>
		<div class="nohow-img">
			<div>
				<img alt="" src="/img/nohow img.webp">
			</div>
			<p class="nohow-write">안녕하세요. 오늘의집에 맛있는 메뉴를 소개하는 <내일의식탁 레시피>입니다!</p>
			<p>요즘 날씨가 많이 춥죠? 오늘은 지금처럼 추운 날씨에 먹기 좋을만한 메뉴 모음.zip을 준비했어요.</p>
			<div class="nohow-write2">
				<p>특히 유저분들께 사랑 받은 메뉴들로 엄선했으니 놓치면 후회하시겠죠!</p>
				<p>집에서 간단하게 만들 수 있는 겨울나기 메뉴 4가지, 지금 시작합니다!</p>
			</div>
			<h2>1) 찬바람 불 때 🍎꽃사과차 어때? 가슴 속 까지 뜨끈!</h2>
			<div>
				<img alt="" src="/img/nohow img2.webp">
			</div>
			<h3>❄️ 만드는 법</h3>
			<div>
				<img alt="" src="/img/nohow img3.webp">
			</div>
			<p>찬바람 불고 쌀쌀해지는 지금 같은 날씨에 딱! 몸도 마음도 따뜻해지는 꽃 사과 차를 만나보세요.</p>
			<p class="nohow-write3">집에 있는 사과를 활용해 정말 간단하게 만들 수 있어요.</p>
			<div>
				<img alt="" src="/img/nohow img4.webp">
			</div>
			<p>우선 사과 1개를 얇게 채 썰고, 깊이 있는 그릇에 겹겹이 쌓아주세요.</p>
			<p class="nohow-write3">여기서 팁, 겉면이 선명한 빨간색을 띠는 사과를 활용하면 더 예쁘게 만들 수 있어요!</p>
			<div>
				<img alt="" src="/img/nohow img5.webp">
			</div>
			<p>사과 1, 설탕 0.9, 물 0.9 비율로 넣고, 전자레인지에 2~3분 가량 돌려주세요.</p>
		</div>
	</div>
</main>
</body>
</html>